/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                &kp Q      &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I     &kp O     &kp P
                &kp A      &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K     &kp L     &kp BSPC
                &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M     &kp SEMI  &kp SQT
                &kp LCTRL  &kp TAB  &kp LALT &kp ESC  &lt 2 RET &lt 3 SPACE &kp LT &kp GT &kp QMARK &kp DEL
            >;
        };

        num_layer {
            label = "Numbers"; 
            bindings = <
                &kp N1     &kp AT   &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR
                &kp TAB    &kp TILDE &kp LBKT &kp RBKT &kp DOWN  &kp MINUS &kp PLUS &kp BSPC  &trans    &trans
                &kp LSHFT  &kp PLUS &kp MINUS &kp ASTRK &kp FSLH &kp LT    &kp GT   &kp QMARK &trans    &trans
                &kp LCTRL  &kp TAB  &kp LALT          &lt 2 RET         &lt 3 SPACE       &kp K_APP &kp DEL   &kp ESC
            >;
        };

        base_repeat_layer {
            label = "Base2";
            bindings = <
                &kp Q      &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I     &kp O     &kp P
                &kp A      &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K     &kp L     &kp BSPC
                &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M     &kp SEMI  &kp SQT
                &kp LCTRL  &kp TAB  &kp LALT          &lt 2 RET       &lt 3 SPACE       &kp LT    &kp GT    &kp QMARK
            >;
        };

        func_layer {
            label = "Function";
            bindings = <
                &kp ESC    &kp INS  &kp PG_UP &kp PG_DN &kp HOME &trans   &trans   &trans    &trans    &trans
                &kp TAB    &kp LEFT &kp DOWN  &kp RIGHT &kp DEL  &trans   &trans   &trans    &trans    &trans
                &trans     &trans   &trans    &trans    &trans   &trans   &trans   &kp UP    &kp END   &trans
                &kp C_MUTE &kp C_MUTE &kp C_MUTE      &kp RET          &kp SPACE         &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };
    };
};
